* {
  box-sizing: border-box;
  margin: 0;
}

body, html {
  color: white;
}

body {
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

header {
  background-color: #1A1B41;
}

h2 {
  padding-right: 1em;
}

form {
  max-width: 80%;
  margin: auto;
}

main {
  max-width: 1200px;
  margin: auto;
}

main, .user-container {
  color: #1A1B41;
}

canvas, form {
  background-color: #F1FFE7;
  padding: 1em;
  border: 3px solid #BAFF29;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 2px #DBFF8F;
}

.background {
  background: rgb(52,52,52);
  background: radial-gradient(circle, #37398A 0%, #1A1B41 100%);
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
}

form[aria-hidden = true],
section[aria-hidden = true] {
  display: none;
}

.user-container {
  position: relative;
}

.user-container img {
  width: 3em;
  height: 3em;
  background-image: url('https://i.pravatar.cc/50');
}

.user-container:hover .info-card {
  display: block;
}

.info-card {
  position: absolute;
  right: 0;
  background-color: #F1FFE7;
  padding: 1em;
}

.stats-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.stats-section > article {
  margin: auto 1em;
  padding: 1em;
}

.widgets-section {
  display: flex;
}

.update-section {
  padding: 1em;
}

.form-display-buttons {
  text-align: center;
}

.form-display-buttons button {
  font-size: 2em;
  margin: .5em;
}

.sleep-display{
  background-color: #1A1B41;
  color: #F1FFE7;
}

.hydration-display {
  background-color: #6290C3;
  color: #1A1B41;
}

.activity-display {
  background-color: #BAFF29;
  color: #1A1B41;
}

span .fa-stairs {
  position: relative;
  margin-left: -13px;
  top: 3px;
}

span .fa-person-running {
  position: relative;
}

form input {
  clear: both;
  display: block;
}

.stats-section article {
  width: 80%;
}

@media (min-width: 680px) {
  .stats-section article {
    width: 40%
  }
  .stats-section .week-view {
    width: 70%;
  }
}

@media (min-width: 880px) {
  .stats-section article {
    width: 30%;
  }
  .stats-section .week-view {
    width: 60%;
  }
}
